<div class="row mx-0">
  <div class="col-sm-12 col-md-12 px-0">
    <header></header>
  </div>

  <div class="col-md-2 col-sm-12 px-0">
    <sidebar></sidebar>
  </div>
  <div class="col-md-10 mx-0 container-fluid pt-4 bg-body-secondary">
    <breadcrumbs></breadcrumbs>

    <router-outlet></router-outlet>
  </div>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
