.avatar {
  border-radius: 50%;
  width: 40px;
}
.dropdown-menu[data-bs-popper] {
  left: -108px !important;
  animation: fadeInAnimation ease 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
